In [1]:
import pandas as pd

In [2]:
SourceTarget = pd.read_csv(r'D:\R_project\Business_Group_project\BusinessGroupGraph\raw\source_target_all_14020320_AddedMellatAndPostBank.csv')

In [3]:
BusinessGroup = pd.read_excel(r'D:\R_project\Business_Group_project\BusinessGroupGraph\raw\business_group_MellatBank.xlsx')

In [4]:
BusGroupNationalId = list(BusinessGroup['Nationalcode_x'])
BusGroupNationalId.append(BusinessGroup['PyramidHeadNationalCode'][0])

In [5]:
filter = SourceTarget['shareholder_national_id'].isin(BusGroupNationalId)

In [6]:
BusGrSTDf = SourceTarget[filter].drop(columns=['Shareholder','shareholder_id'])

In [22]:
BusGrSTDf[BusGrSTDf['shareholder_national_id']==10260298230]

Empty DataFrame
Columns: [Percent, Company, company_national_id, shareholder_rasmio, shareholder_national_id]
Index: []

In [23]:
BusGrSTDf[BusGrSTDf['company_national_id']==10260298230]

,Percent,Company,company_national_id,shareholder_rasmio,shareholder_national_id
2245,0.0199,فرآورده‌هاي‌نسوزآذر,10260298230,تولیدی و خدمات صنایع نسوز توکا,10260057369

In [24]:
BusGrSTDf[BusGrSTDf['shareholder_national_id']==10260057369]

,Percent,Company,company_national_id,shareholder_rasmio,shareholder_national_id
2245,0.0199,فرآورده‌هاي‌نسوزآذر,10260298230,تولیدی و خدمات صنایع نسوز توکا,10260057369

In [25]:
BusGrSTDf[BusGrSTDf['company_national_id']==10260057369]

Empty DataFrame
Columns: [Percent, Company, company_national_id, shareholder_rasmio, shareholder_national_id]
Index: []

In [ ]:
10260272518    10000000036

In [7]:
node1 = BusGrSTDf[['Company','company_national_id']].rename(columns={'Company':'label','company_national_id':'id'})
node2 = BusGrSTDf[['shareholder_rasmio','shareholder_national_id']].rename(columns={'shareholder_rasmio':'label','shareholder_national_id':'id'})

In [8]:
Node = pd.concat([node1, node2]).drop_duplicates(subset=['id'])

In [9]:
SourceTarget = BusGrSTDf.rename(columns={'shareholder_national_id':'Source', 'company_national_id':'Target', 'Percent':'Weight'})

In [10]:
SourceTarget = SourceTarget[['Source', 'Target', 'Weight']]

In [14]:
SourceTarget.drop_duplicates(subset=['Source','Target'], inplace=True)

In [15]:
Node.to_csv('BusGrNodeMellat.csv', encoding='utf-8-sig', index=False)

In [16]:
SourceTarget.to_csv('BusGrSourceTargetMellat.csv', encoding='utf-8-sig', index=False)